.wrapper{
  position: relative;
  top: 0;
  height:100vh;
}

.sidebar{
  overflow-x: hidden;
}

.main-painel{
      position:static;
      float: right;
      width: calc(100% - 240px);
      background-color: #f4f3ef;
      padding-left: -15px;
      padding-right: -15px;
      .content{
        padding:0 30px 30px 30px;
        min-height: 100vh;
        margin-top: 10px;
      }
}